/* Homepage.css */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  overflow: hidden;
}

.app {
  width: 80%;
  max-width: 1000px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden; 
}

.head-bar {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #0056b3; 
  color: #fff; 
  margin-bottom: 10px;
}

.head-bar img {
  height: 35px;
  margin-right: 10px;
}

.head-bar h1 {
  font-size: 24px;
  margin: 0;
  flex-grow: 1;
  cursor: pointer;
}

.temp-btn {
  display: flex;
}

.temp-btn button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 8px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 18px;
}

.temp-btn button.selected {
  background-color: #333; /* Dark Gray */
  border-radius: 5px;
}

.theme-switch-container button {
  background-color: transparent;
  border: none;
  color: rgb(203, 202, 202);
  font-size: 24px;
  cursor: pointer;
}

.theme-switch-container button:hover {
  color: black;
}

/* Light Theme */
.app.light {
  background-color: #fff;
  color: #333;
}

/* Dark Theme */
.app.dark {
  background-color: #222222;
  color: #b0afaf;
}

.search-container {
  display: flex;
  align-items: center;
  margin: 20px; 
}

.search-bar {
  width: 70%;
  height: 40px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 18px;
}

.btn-1, .btn-geolocation {
  background-color: #007bff; /* Blue */
  color: #fff; /* White Text */
  border: none;
  padding: 10px 20px;
  margin-left: 5px; /* Spacing between buttons */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

@media (max-width: 500px) {
  .search-container {
    flex-direction: column;
  }
}

.btn-1:hover, .btn-geolocation:hover {
  background-color: #0454aa; /* Darker Blue */
}

.share-btn {
  background-color: #4CAF50; /* Green */
  color: #fff; /* White Text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-left: 20px;
}

.share-btn:hover {
  background-color: #45a049; /* Darker Green */
}

.content-not-found {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  color: #f00; /* Red Text */
  text-decoration: underline;
}

.content {
  padding: 20px;
}

.content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content h2 {
  font-size: 18px;
  margin-top: 20px;
  color: #666; /* Dark Gray */
}

.overlay-menu {
  position: absolute;
  top: 0;
  right: -400px; /* Initially hidden on the right */
  width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease; /* Transition on right property */
}

.overlay-menu.open {
  right: 0; /* Open on the right when menu is open */
}

.overlay-menu ul {
  list-style: none;
  padding: 0;
  margin: 80px 0 0;
}

.overlay-menu li {
  padding: 15px;
}

.overlay-menu a {
  color: #000;
  text-decoration: none;
  font-size: 25px;
  display: block;
  font-weight: bold;
  cursor: pointer;
}

.overlay-menu a:hover {
  color: #2ad246; /* Green */
}

.close-menu {
  position: absolute;
  top: 40px;
  right: 40px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 40px;
}

.share-menu {
  position: absolute;
  right: 20px;
  top: 50px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
}

.share-menu a {
  display: block;
  padding: 5px;
  color: black;
  text-decoration: none;
}

.share-menu a:hover {
  background-color: #f0f0f0;
}

