

/* .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('https://media.istockphoto.com/id/612023744/photo/blue-and-orange-sunset-sky.jpg?s=612x612&w=0&k=20&c=bqPHaI4d3ghIbLIwtbTDPxV8QQ2pIN2mbCfzLb7gucQ=');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
  } */
  